@import "variables";

/* Send Message Section */
.send-message-title {
	margin: 0;
	color: $green;
	margin-top: 25px;
	margin-bottom: 20px;
}

.message-form {
	label {
		color: $gray;
		font-size: 16px;
	}
}

.contact-info-title {
	margin-top: 40px;
	color: $green;
}
.contact-info-container {
	ul {
		list-style-type: circle;
	}
	li {
		margin: 8px 0;
	}
	.contact-item {
		font-size: 16px;
		color: $dark-gray;
	}
	a.contact-item {
		text-decoration: underline;
		&:hover {
			color: $green;
		}
	}
}