/*
	to build...
	sass --watch main.scss:main.css
*/
$text-color: #576366;
$header-color: #384047;
$header-height: 60px;
$background-color: #E7E7E7;
$font-family: ProximaNovaA-Bold;

body {
	margin: 0;
	font-family: $font-family;
	font-weight: 800;
}
.full-width {
	width: 100%;
}
.small-text {
	font-size: 20px !important ;
}
.content-wide {
	display: inline-block;
	max-width: 100%;
}
.center-helper {
	position: relative;
}
.absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
 	-o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.vertical-center {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
 	-o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.fixed-bar {
	height: $header-height;
	position: relative;
	text-align: center;
	vertical-align: middle;
	padding-top: 15px;
	border-bottom: 1px solid $header-color;
	box-shadow: 0 1px 2px $header-color;
}

.hamburger-wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
}
.hamburger-wrapper .hamburger-nav-btn {
	height: $header-height - 1; /* -1 to avoid overlap with border-bottom */
	width: $header-height;
	font-size: 36px;
	border-radius: 4px;
	background-image: url('../img/hamburger-background.png');

	/* override unwanted .btn bootstrap styles */
	&:focus,
	&:active,
	&:active:focus {
		box-shadow: none;
		outline: none;
	}
}
.h1-padding {
	padding-left: $header-height;
}

.primary-header {
	display: inline;
	font-size: 32px;
	color: $header-color;
	text-align: center;
	vertical-align: middle;
}

.hidden {
	display: hidden;
}
.block {
	display: block;
}
.inline-block {
	display: inline-block;
}
.inline {
	display: inline;
}

.main-content {
	background-color: $background-color;
}
.i-write-code-section {
	height: 110px;
	position: relative;
}
.i-write-code {
	display: inline-block;
	height: 40px;
	width:100%;
	text-align: center;
}
.vertical-slider-container {
	display: inline-block;
	width: 130px;
	height:40px;
	background-color: white;
	border-radius: 4px;
	/*overflow:hidden;*/
}
.vertical-slider {
	display: inline-block;
}
.code-quality {
	display: inline-block;
	font-size: 26px;
}
.large-inline {
	display: inline;
	font-size: 24px;
}

.slide-out {
	
}
.slide-in {

}


/* About me Section */
.about-me-section {
	background-color: white;
	padding: 20px 20px 5px 20px;
	font-size: 16px;
}
.about-me {
	margin: 0;
}

.coffee {
	color: #2B1900;
}
.outdoors {
	color: #061b06;
}

/* skills section */
.skills-section {
	padding: 5px;
	text-align: center;
	background-color: white;
}
.skills {
	text-align: center;
}
.logo {
	width: 95px;
	margin: 15px;
}