/*
	to build...
	sass --watch main.scss:main.css
*/
$text-color: #576366;
$header-color: #384047;
$header-height: 90px;
$background-color: #E7E7E7;
$font-family: ProximaNovaA-Bold;

body {
	margin: 0;
	font-family: $font-family;
	font-weight: 800;
}
.small-text {
	font-size: 34px !important ;
}
.center-helper {
	position: relative;
}
.absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
 	-o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.vertical-center {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
 	-o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.fixed-bar {
	height: $header-height;
	position: relative;
	text-align: center;
	vertical-align: middle;
	padding-top: 15px;
	border-bottom: 1px solid $header-color;
	box-shadow: 0 1px 2px $header-color;
}

.hamburger-wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
}
.hamburger-nav-btn {
	height: $header-height - 1; /* -1 to avoid overlap with border-bottom */
	width: $header-height;
	font-size: 54px;
	border-radius: 4px;

	&:focus,
	&:active,
	&:active:focus {
		outline: none;
	}
}

.primary-header {
	display: inline;
	font-size: 54px;
	color: $header-color;
	text-align: center;
	vertical-align: middle;
}

.hidden {
	display: hidden;
}
.block {
	display: block;
}
.inline-block {
	display: inline-block;
}
.inline {
	display: inline;
}

.main-content {
	background-color: $background-color;
}
.i-write-code-section {
	height: 150px;
	position: relative;
}
.i-write-code {
	display: inline-block;
	width:100%;
	text-align: center;
}
.vertical-slider-container {
	display: inline-block;
	width: 280px;
	height:55px;
	background-color: white;
	/*overflow:hidden;*/
}
.vertical-slider {
	display: inline-block;
}
.code-quality {
	display: inline-block;
	font-size: 44px;
}
.large-inline {
	display: inline;
	font-size: 48px;
}
