$text-color: #404040;
$header-height: 60px;
$font-family: ProximaNovaA-Bold;
$sm: 768px;
$md: 992px;
$lg: 1200px;

$light-gray: #DDDEDE;
$soft-gray: rgba(221,222,222,0.5);
$gray: #999;
$dark-gray: #666;

/* https://color.adobe.com/Brandplug-UI-color-theme-7073247/ */
$alpha-green: rgba(58, 193, 98, 0.6);
$green: #5FCF80;
$light-blue: #6DAAFD;
$dark-blue: #31395A;
$purple: #9180FD;
$orange: #FF5A5F;