$text-color: #444;
$header-height: 60px;
$font-family: ProximaNovaA-Bold;
$light-gray: #DDDEDE;
$soft-gray: rgba(221,222,222,0.5);
$gray: #999;
$dark-gray: #666;
$green :#5FCF80;
$light-green: #B8F5D2;
$dark-green: #3ac162;
$light-blue: #C1E0F5;
$blue: #42B4D6;